.hero {

	/*h1 { 
		@include adjust-font-size-to(60px); 
		@include adjust-leading-to(1);
		@include trailer(0);
	}
	h2 { 
		@include adjust-font-size-to(30px); 
		@include leader(0);
		@include padding-leader(0);
		@include adjust-leading-to(.5);
		@include trailer(1);
	}
	a.hero-button.button { 
	text-decoration: none;
	@include leader(0);
	@include adjust-font-size-to(18px);
	@include adjust-leading-to(1);
	line-height: 1;
	}
	height: 624px;
	background-size: auto 624px;

	.hero-copy {
		@include padding-leader(9);
		background-size: auto 624px;
	}*/
	background-size: auto;
	background-position: -200px;
}

.content {
	@include padding-leader(2);

	.columns {
			
			@include leader(1);
			
		}
		section {
			@include padding-trailer(2);
			overflow: auto;
		}
		.home-portfolio {
			margin: 0 auto;
			max-width: 1280px;
			h2 {
					@include adjust-font-size-to(32px);
					@include leader(0);
				}
			.portfolio-piece {
				width: 100%;
				margin: 0 0 0 0;
				@include padding-trailer(1.5);
			}
			
			p {
				@include trailer(1.5);
			}
		}
		.home-blog-wrapper {
			@include background-image(linear-gradient($pink, $white 20%));
		}
		.home-blog {
			background: url('img/blog-pyramids.svg') center 0 no-repeat;
			margin: 0 auto;
			max-width: 1280px;
			@include leader(1.5);
			@include padding-leader(3);
			h2 {
				text-align: center;
			}
			.portfolio-piece {
				margin: 0 0 0 0;
				width: 100%;
			}
			
			a.button { 
				text-decoration: none;
				@include leader(0);
				@include adjust-font-size-to(14px);
				@include adjust-leading-to(1);
				line-height: 1;

				}
				text-align: left;

			.columns {
				@include leader(.5);
			}
			p {
				@include trailer(1);
			}
		}
	
}
.footer-wrapper {

}
.footer {
	.columns {
			margin: 0 auto;
			max-width: 1280px;
			section {
				vertical-align: top;
			}
			
		}
	.social-buttons {
		li {
			margin-right: .30em;
			img {
				width: 62px;
				height: 62px;
			}
			
		}
	}
}